.navbar-custom {
 background-color: none;
    
}
#nav {
 color: #00aaaa;   
}
#catch {
 text-align: center;   
font-family: 'Open Sans', 'Noto Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    
    
}
body {
    color: rgb(98, 98, 98);
}